*{
  margin: 0px;
padding: 0px;
box-sizing: border-box;
  text-decoration: none;
  list-style:none;
 }
.App {
  text-align: center;
}
.loginpage{
      color:rgb(0, 0, 0);
      background-image: url(image/image2.jpg);
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  
}
.regpage{
          color:rgb(248, 248, 248);
          background-image: url(image/image1.jpg);
          background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      height: 100vh;
      object-fit: contain;
            }
    .add-file-form{
      display:flex;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     align-items: center;
     gap:10px;

      
    }
    input.add{
      width: 40%;
      height:25%;
      padding: 1%;
      border: 1px solid rosybrown;
      margin: 5px;
      border-radius: 5px;
    }
    button{
      padding: 5px;
      width:10%;
      border: solid 1px rosybrown;
      margin-left: 5px;
      border-radius: 5px;
    }
    .button_modify{
      padding: 5px;
      width:45%;
      border: solid 1px rosybrown;
      border-radius: 5px;
    }
    .login-span{
      margin-top: 5%;
     
    }
    .login-span-button{
      margin: 5%;
    }
    .add-user-form{
       margin:10%;
    }
   .add-user-form > input{
                  width: 30%;
                  height:25%;
                  padding: 1%;
                  border: 1px solid rosybrown;
                  margin: 5px;
                  border-radius: 5px;
                }
                .add-user-form > button{
                  padding: 5px;
                  width:10%;
                  border: solid 1px rosybrown;
                  border-radius: 5px;
                }
                .menu{
                  padding: 15px;
                  display: flex;
                  }
                  .menu_left{
                    display: flex;
                    float: left;
                  }
                  .menu_right{
                    display: flex;
                    margin-left: 60%;
                    float: right;
                  }
                  li{
                  display: inline;
                  padding: 5px;
                  cursor: pointer;margin: 5px;
                   }
li:hover{
border: 1px solid gray;
color: white;
background-color: black;
}
li.afterlogin:hover{
  border: 1px solid gray;
  color: rgb(8, 8, 8);
  background-color: rgb(154, 150, 150);
  border-radius: 5px;
  }

                table,tr,th,td{
                  border:1px solid rgb(244, 242, 242);
                  border-collapse: collapse;
                  padding: 10px;
                  text-align: center;
                                    }
                  th,td{
                      font-size: larger;
                  
                  }
                  td{
                      text-align:left;
                  }   
                  .homepage{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10%;
                    margin: 5%;
                    justify-content: center;
                                      } 

